html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Quicksand, sans-serif;
  background-color: #ffffff;
}

main h2 {
  font-weight: bolder;
}

.accessible-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#navbar1 {
  display: flex;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: black;
}

#navbar1 picture {
  text-align: center;
}

#navbar1 #ceme {
  position: absolute;
  top: 1.5vh;
  left: 14vw;
}

#navbar1 #ceme p {
  color: white;
  padding: 0px;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* margin: 0; */
  justify-content: space-between;
  /* margin-left: 33px; */
  margin-top: 10px;
  margin-bottom: 0px;
  width:95vw;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  font-size: 1.1vw;
  margin: .25em;
  white-space: nowrap;
}

nav ul li a:hover {
  color: #f8eedc;
  text-decoration: underline;
}

nav ul li img {
  width: 25%;
  max-width: 450px;
  margin-top: 3px;
  margin-bottom: 3px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  max-width: 100%;
  height: 100%;
  margin-left: 33px;
  margin-right: 33px;
}

main h2 {
  padding-bottom: 55px;
  padding-top: 55px;
  font-size: 2.75vw;
  color: #862727;
}

.flex-container .content {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin-bottom: 60px;
}

.flex-container .content div {
  flex: 1;
}

.flex-container h2 {
  margin-bottom: 10px;
}

.flex-container p {
  margin: 0;
  text-align: left;
  line-height: 1.6;
  font-size:1.25vw;
}

.flex-container .left {
  margin-right: 45px;
}

.flex-container .right {
  margin-left: 45px;
}


main .fullwidth {
  margin-left: 5px;
  margin-right: 5px;
}

main .fullwidth img {
  padding-bottom: 26px;
  max-width: 1000px;
  position: relative;
  max-width: 100%;
}

main .image-flex-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding-top: 30px;
  align-content: center;
}

#originalA {
  outline-offset: 2px;
}

#fullimageA {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(72, 72, 72, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

#fullimageA img {
  margin: auto;
  display: block;
  justify-content: center;
  height: auto;
  max-height: 500px;
  flex-grow: 0;
  width: 170px;
  min-width: 740px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}


#fullimageA img:hover {
  color: #bbb;
}

#buttonA {
  position: absolute;
  top: 30px;
  right: 205px;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  position: fixed;
  font-size: 25px;
  background-color: white;
  opacity: 0.7;
  z-index: 3;
  border: none;
  cursor: pointer;
  outline-offset: 2px;
}

#buttonA:hover {
  background-color: #808080;
}

#originalB {
  outline-offset: 2px;
}

#originalB:hover {
  opacity: 0.7;
  cursor: pointer;
}

#fullimageB {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(72, 72, 72, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

#fullimageB img {
  margin: auto;
  display: block;
  justify-content: center;
  height: auto;
  max-height: 500px;
  flex-grow: 0;
  width: 170px;
  min-width: 740px;
  max-width: 1000px;
}


#fullimageB img:hover {
  color: #bbb;
}

#buttonB {
  position: absolute;
  top: 30px;
  right: 205px;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  position: fixed;
  font-size: 25px;
  background-color: white;
  opacity: 0.7;
  z-index: 3;
  border: none;
  cursor: pointer;
  outline-offset: 2px;
}

#buttonB:hover {
  background-color: #808080;
}

#originalC {
  outline-offset: 2px;
}

#originalC:hover {
  opacity: 0.7;
  cursor: pointer;
}

#fullimageC {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(72, 72, 72, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

#fullimageC img {
  margin: auto;
  display: block;
  justify-content: center;
  height: auto;
  max-height: 500px;
  flex-grow: 0;
  width: 170px;
  min-width: 740px;
  max-width: 1000px;
}


#fullimageC img:hover {
  color: #bbb;
}

#buttonC {
  position: absolute;
  top: 30px;
  right: 205px;
  font-size: 40px;
  font-weight: bold;
  display: flex;
  position: fixed;
  font-size: 25px;
  background-color: white;
  opacity: 0.7;
  z-index: 3;
  border: none;
  cursor: pointer;
  outline-offset: 2px;
}

#buttonC:hover {
  background-color: #808080;
}

.hero-image img {
  width: 100vw;
  height: 70vh;
  object-fit: cover;
  object-position: center center;
  transition: filter 0.3s ease-in-out;
}

.hero-container .hero-image {
  position: relative;
  padding-top: 35px;
}

.hero-container .hero-image img {
  width: 100vw;
  height: 70vh;
  object-fit: cover;
  object-position: center center;
}


.hero-container .image-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  padding: 20px;
}

.hero-container .image-text:hover{
}

.hero-container .image-text:hover h2{
  color:#d22d2d;
  text-decoration: underline;
}

.hero-container .image-text h2 {
  margin-bottom: 10px;
}

.hero-container .image-text p {
  margin: 0;
  font-size:1.25vw;
}

.hero-container .left-button {
  border-style: solid;
  border-color: white;
  width: 125px;
  height: 4.3vh;
  position: absolute;
  top: 80%;
  left: 25%;
  transform: translateX(65%);
  align-content: center;
}

.hero-container .right-button {
  border-style: solid;
  border-color: white;
  width: 125px;
  height: 4.3vh;
  position: absolute;
  top: 80%;
  right: 25%;
  transform: translateX(-65%);
  align-content: center;
}

.hero-container a {
  font-size: 23px;
  color:white;
  text-decoration: none;
  text-align: center;
}

.hero-container a:hover {
  color: #F2F2F2;
  text-decoration: underline;
}

.hero-container{
  margin-bottom: 20vh;
}

.page-content {
  max-width: 1000px;
  padding-left: 17px;
  padding-right: 17px;
  margin: auto;
}

.page-content h2 {
  font-size: 35px;
}

.page-content hr {
  margin-bottom: 15px;
}

.page-content img {
  width: 100%;
  height: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
/*
.accordion-item {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}

.accordion-item:hover {
  border-color: red;
}

.accordion-header {
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 100%;
  border: none;
  padding: 10px;
  background-color: #fff;
  font-size: 16pt;

}

.accordion-content {
  padding: 10px;
  line-height: 1.5;
  background-color: #fff;
} */

.icon {
  font-size: 20px;
  margin-left: auto;
  transform: rotate(90deg);
  transition: all 0.2s ease;
}

.rotate-icon {
  transform: rotate(-90deg);
}

.hidden {
  display: none !important;
}

.gallery.fullscreen-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 700px;
  overflow: hidden;
}

.gallery.fullscreen-image .next-prev {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery.fullscreen-image .npimage {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.gallery.fullscreen-image img {
  display: block;
  width: 100vw;
  height:700px;
  object-fit: cover;
  object-position: center center;
}

.gallery.fullscreen-image .bottom-buttons {
  position: absolute;
  bottom: 40px;
  width: auto;
}

.gallery.fullscreen-image .bottom-buttons button {
  width: 10px;
  /* Adjust as needed */
  height: 10px;
  /* Adjust as needed */
  border: 1px solid #ffffff;
  /* White border */
  border-radius: 50%;
  /* Make it circular */
  background-color: transparent;
  /* Transparent background */
  cursor: pointer;
  padding: 0;
  /* Remove padding */
  margin: 0 8px;
  /* Remove margin */
}

.gallery.fullscreen-image .bottom-buttons button.active {
  background-color: #ffffff;
  /* White background when active */
}

.gallery.fullscreen-image .bottom-buttons button:hover {
  background-color: #f0f0f0;
  /* Light gray background on hover */
}

.gallery.fullscreen-image .overlay-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.gallery.fullscreen-image .overlay-buttons button {
  background-color: rgba(241, 241, 241, 0.5);
  border: none;
  color: black;
  font-size: 25px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery.fullscreen-image .overlay-buttons button:hover {
  background-color: rgba(191, 191, 191, 0.5);
}

.gallery.fullscreen-image #prev-button {
  margin-left: 20px;
}

.gallery.fullscreen-image #next-button {
  margin-right: 20px;
  /* Adjust as needed */
}

/* Style the arrow */
.gallery.fullscreen-image .overlay-buttons #prev-button::before {
  content: "\2039";
  /* Unicode for left-pointing arrow */
}

.gallery.fullscreen-image .overlay-buttons #next-button::before {
  content: "\203A";
  /* Unicode for right-pointing arrow */
}

.e-board {
  text-align: center;
  margin-bottom: 80px;
}

.flex-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 95vw;
}

.card {
  margin-left: 2.5vw;
  margin-right: 2.5vw;
  margin-bottom: 2vw;
  text-align: center;
  width: 15vw;

}

.card picture {
  width: 16vw;
  height: 48vh;
  display: block;
  margin: 0 auto;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0%;
}

.card h3 {
  margin-top: 3vh;
  margin-bottom: 0vh;
  padding-bottom: 1vh;
  font-size: 1.5vw;
  width: 16vw;
  justify-content: center;
  align-items: center;
}

.card h4 {
  margin-top: 0vh;
  margin-bottom: 1vh;
  padding-bottom: 0vh;
  font-size: 1.2vw;
  color:#626262;
  font-weight: 1000;
  justify-content: center;
  align-items: center;

}

.card h5 {
  margin-top: 1vh;
  margin-bottom: 0vh;
  padding-bottom: 0vh;
  font-size: 1vw;
  font-weight: 100;
  color:#626262;
  justify-content: center;
  align-items: center;
}


nav .instrument-links {
  margin-bottom: 20px;
  background-color: red;
}

 .instrument-links h2 {
  margin-bottom: 10px;
}

 .instrument-links ul {
  list-style: none;
  padding: 0;
  width: 75vw;
}

 .instrument-links ul li {
  margin-bottom: 55px;
}

 .instrument-links ul li a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
}

.instrument-links ul li a:hover {
  color: #007bff;
}

.instruments-main {
  margin-bottom: 70px;
}

.instrument-section {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}

.instrument-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding-bottom: 50px;
  width: 85vw;
  height: 50vh;
}

.instrument-text {
  flex: 1;
  padding: 0 20px;
  background-color: #F2F2F2;
  width: 85vw;
  height: auto;
}

.instrument-text h2 {
  margin-top: 0px;
  font-size: 1.7vw;
  margin-bottom: 0px;
  padding-bottom: 5px;
}

.instrument-text p {
  margin-top: 0px;
  font-size: 1.2vw;
  text-align: left;
}


.instrument-text ul {
  margin-top: 0px;
  font-size: 15px;
  text-align: left;
}

.instrument-image {
  flex-basis: 50%;
}

.instrument-image img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
  height: 50vh;
}


.join_us_main {
  margin-bottom: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.join_us {
  width: auto;
  height: auto;
  text-align: left;
  font-size: 1.7vw;
  letter-spacing: 1px;
  margin-top: -40px;
}

.ourevents-main {
  margin-bottom: 10vh;
}

.ourevents-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.ourevents-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding-bottom: 50px;
  width: 75vw;
  height: 30vh;
}

.ourevents-text {
  flex: 2;
  height: 30vh;
  padding-left:40px;
}

.ourevents-text h2 {
  padding-top: 0px;
  font-size: 1.7vw;
  margin-bottom: 0px;
  padding-bottom: 25px;
  color:black;
  text-align: left;
}

.ourevents-text hr {
  color: #808080;
}

.ourevents-text p {
  margin-top: 0px;
  font-size: 1.2vw;
  text-align: left;
}


.ourevents-text ul {
  margin-top: 0px;
  font-size: 15px;
  text-align: left;
}

.ourevents-text a:link{
  color: #303030;
}

.ourevents-text a:visited{
  color: #707070;
}

.ourevents-image {
  flex-basis: 60%;
  flex:1;
}

.ourevents-image img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
  height: 30vh;
}

.ourevents-previews {
  display: inline-flex;
  justify-content: space-between;
}

.ourevents-previews iframe{
  margin: 20px;
  margin-left:0;
  margin-top: -2%;
  flex: 30%;
  max-width: fit-content;
}

.accordion {
  margin: 0 auto;
  width: 75vw;
  margin-bottom:120px;
  margin-top:0px;
  padding-top:0px;
}

.accordion-title {
  color: #303030;
  }

.accordion-item {
  background-color: #ffffff;
  margin-bottom:1px;
  border-bottom: solid 1px;
}

.accordion-header:hover {
  background-color: #dedede;
}


.accordion-header {
  font-size: 1.7vw;
  text-align: center;
  letter-spacing: 1px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  width: 100%;
  border: none;
  padding: 10px;
  height:10vh;
  background-color: #ffffff;
}

.accordion-content {
  font-size:15px;
  line-height: 1.2;
  background-color: #ffffff;
  margin-bottom:0px;
  padding-left:10px;
  padding-right:10px;
  height: auto;
  width: auto;
}

.accordion-content .ourevents-content {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding-bottom: 50px;
  width: 75vw;
  height: 40vh;
  margin-bottom:20px;
}

.accordion-content .ourevents-content .ourevents-text {
  margin-top:-20px;
}

.icon {
  font-size: 38px;
  transition: all 0.2s ease;
  color: #303030;
}

.accessible-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.events-accordion:after {
  content: '\f107';
  font-family: 'FontAwesome';
  font-size: 20px;
  color: #303030;
  transition: 0.4s;
}

.events-active:after {
  content: "\f106";
}


.events-accordion-item {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
}

.events-flex-container {
  display: flex;
  flex-direction: column;
  max-width:1200px;
  gap: 10px;
}

.events-flex-item {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  background-color: #ec3131;
  flex-grow:1;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ffffff;
  text-align: center;
}

.events-flex-item img {
  width: 300px;
  height: 250px;
  object-fit: cover;
  margin-right: 10px;
}

.events-gallery.ourevents-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-basis: 50%;
  flex:1;
}

.events-gallery.ourevents-image .next-prev {
  display: flex;
  justify-content: center;
  align-items: center;
}

.events-gallery.ourevents-image .npimage {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.events-gallery.ourevents-image img {
  width: 100%;
  object-fit: cover;
  object-position: center center;
  height: 30vh;
}

.events-gallery.ourevents-image .bottom-buttons {
  position: absolute;
  bottom: 30px;
  width: auto;
}

.events-gallery.ourevents-image .bottom-buttons button {
  width: 10px;
  /* Adjust as needed */
  height: 10px;
  /* Adjust as needed */
  border: 1px solid #ffffff;
  /* White border */
  border-radius: 50%;
  /* Make it circular */
  background-color: transparent;
  /* Transparent background */
  cursor: pointer;
  padding: 0;
  /* Remove padding */
  margin: 0 8px;
  /* Remove margin */
}

.events-gallery.ourevents-image .bottom-buttons button.active {
  background-color: #ffffff;
  /* White background when active */
}

.events-gallery.ourevents-image .bottom-buttons button:hover {
  background-color: #f0f0f0;
  /* Light gray background on hover */
}

.events-gallery.ourevents-image .overlay-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.events-gallery.ourevents-image .overlay-buttons button {
  background-color: rgba(241, 241, 241, 0.5);
  border: none;
  color: black;
  font-size: 25px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.events-gallery.ourevents-image .overlay-buttons button:hover {
  background-color: rgba(191, 191, 191, 0.5);
}

.events-gallery.ourevents-image #prev-button {
  margin-left: 20px;
}

.events-gallery.ourevents-image #next-button {
  margin-right: 20px;
  /* Adjust as needed */
}

/* Style the arrow */
.events-gallery.ourevents-image .overlay-buttons #prev-button::before {
  content: "\2039";
  /* Unicode for left-pointing arrow */
}

.events-gallery.ourevents-image .overlay-buttons #next-button::before {
  content: "\203A";
  /* Unicode for right-pointing arrow */
}


footer {
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 78vw;
  padding-top: 40px;
}

.logo {
  width: 100px;
  height: auto;
}

.disclaimer {
  margin-top: 40px;
  color: #C7CCCF;
  font-size: 1.1vw;
  margin-bottom: 60px;
}

.about-us {
  flex: 1;
}

.contact-info {
  flex: 1;
}

.about-us h3,
.contact-info h3 {
  margin-top: 0;
  font-size: 1.7vw;
  color: white;
}

.contact-info ul {
  list-style-type: none;
  padding: 0;
}

.contact-info ul li {
  margin-bottom: 5px;
  display: inline;
  margin-right: 50px;
  margin-bottom: 50px;
  font-size: 1.2vw;
}

.contact-info ul li:last-child {
  margin-right: 0;
}

.contact-info ul li a {
  color: white;
  text-decoration: none;

}

.contact-info ul li a:hover {
  text-decoration: underline;
}

footer h3 {
  margin-bottom: 35px;
}


/* Animations */
.scroll-hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.scroll-visible {
  opacity: 1;
  transform: translateY(0);
}

/* Hidden on desktop view*/
@media (min-width: 851px) {
  .hide-on-desktop{
    display: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  .icon {
    transition: none;
  }
}

@media (max-width: 850px) {
  html {
    box-sizing: border-box;
  }


  header div nav ul {
    flex-direction: column;
    text-align: center;
  }

  .page-content h2 {
    font-size: 24px;
    text-align: center;
  }

  #header {
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: fixed;
    top: 0;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    background-color: #303030;
    padding: 8px 16px 8px 16px;
  }


#navbar2 {
  position: fixed;
  display: flex;
  flex-direction: row;
  z-index: 5000;
  top: 0;
  justify-content: space-between;
  width: 100%;
  background-color: #000000;
  padding-top: 15px;
  padding-bottom: 15px;
}

#navbar2 p {
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
  position: absolute;
  left: 100px;
  color: white;
}

#navbar2 img {
  max-width: 65px;
  max-height: 65px;
  flex-grow: 1;
  margin-left: 15px;
}

main{
  padding-top:9vh;
}

#hamburger-menu {
  display: flex;
  flex-direction: column;
}

#links {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 80px;
  z-index: 30;
}

#links ul {
  display: flex;
  flex-direction: column;
  z-index: 1;
  align-items: end;
  padding-bottom:10px;
  right: 0;
  background-color: #303030;
  opacity: 0.9;
  margin-top: 18px;
  margin-right: 0;
  text-align: right;
}

#links ul li a{
  font-size:5vw;
}

#hamburger {
  position: absolute;
  right: 0;
  margin-top: 15px;
  margin-right: 20px;
  font-size: 24px;
  color:white;
  border:transparent;
  /*border: 3px solid rgba(86, 103, 133, 0.9);*/
  background-color: transparent;
}

/*#hamburger:hover {
  background-color: #f8eedc;
}*/

main h2{
  font-size: 7vw;
  padding-top:3vh;
  padding-bottom:3vh;
}

main .fullwidth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .gallery.fullscreen-image {
    width: 100vw;
    height: 30vh;
    overflow: hidden;
    padding-top: 15px;
  }

  .gallery.fullscreen-image img {
    height: 30vh;
  }

  main .flex-container {
    flex-direction: column;
    height: auto;
    width: auto;
    text-align: center;
  }

  main .flex-container .content{
    flex-direction: column;
    height: auto;
    width: auto;
    text-align: center;
  }


  .content h2{
    font-size: 7vw;
  }

  .flex-container .left {
    margin-right: 0px;
    font-size: 4vw;
  }

  .flex-container .right {
    margin-left: 0px;
    font-size: 4vw;
  }

.hero-container .image-text {
  position: absolute;
  top: 42%;
  /*left: 50%;
  text-align: center;*/
  left: 30%;
  text-align: left;
  width: 40vw;
  color: white;
  padding: 0px;
}

.hero-container .image-text h2 {
  margin-bottom: 0px;
  font-size: 7vw;;
}

.hero-container .image-text p {
  margin: 0;
  font-size:4vw;
}


.hero-container .hero-image{
  margin-bottom: 80px;
}

.hero-container .hero-image img {
  /*object-position: 80% center;*/
  object-position: 45% center;
}

.hero-container .left-button{
  transform: translateX(-35%);
}

.hero-container .right-button{
  transform: translateX(35%);
}

.card {
  text-align: center;
  width: auto;
  height: auto;
  display: block;
  align-items: center;
  justify-content: center;
  margin-bottom: 6vh;
}

.card picture{
  width:55vw;
  height: 40vh;
  align-items: center;
  justify-content: center;
}

.e-board h2{
  font-size: 7vw;
  width:85vw;
  justify-content: center;
  margin: auto;
}

.e-board h3{
  font-size: 4vw;
  justify-content: center;
  margin: auto;
  margin-top: 3vh;
  margin-bottom: 0vh;
  padding-bottom: 1vh;
  width:55vw;
}

.e-board h4{
  font-size: 3.5vw;
  justify-content: center;
  margin: auto;
  margin-top: 0vh;
  margin-bottom: 1vh;
  padding-bottom: 0vh;
  width:55vw;

}

.e-board h5{
  font-size: 3vw;
  justify-content: center;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 0vh;
  padding-bottom: 0vh;
  width:55vw;

}

.flex-cards {
  flex-direction: row;
}


  main .image-flex-container {
    flex-direction: row;
    text-align: center;
  }

  nav ul {
    display: block;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: auto;
    text-align: center;
  }


  .instrument-section {
    display: block;
    flex-direction: column;
  }


.instrument-content {
  display: block;
  flex-direction: column;
  padding-bottom: 50px;
  width: 85vw;
  height: 50vh;
}

.instrument-text h2{
  font-size: 5vw;
  padding-top: 2vh;
}

.instrument-text p{
  font-size: 3.5vw;
}

.instrument-image {
  flex-basis: auto;
  height: auto;
}

.instrument-content {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  padding-bottom: 0;
  height: auto;
}

.instrument-text{
  padding: 0px;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}

.instrument-text p{
  padding-left: 20px;
  padding-right: 20px;
}

.instrument-image, .instrument-text {
  width: 100%;
}

.instrument-content:nth-child(even) .instrument-text {
  order: 2;
}

.instrument-content:nth-child(odd) .instrument-text {
  order: 1;
}
.instrument-links{
  margin-bottom:5vw;
}
.instrument-links ul{
  margin-bottom:5vw;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.instrument-links ul li {
  margin-bottom:3vw;
}

.instrument-links ul li a{
  font-size: 4vw;
}

.instrument-image img {
  height: 30vh;
}

.ourevents-main{
  margin-bottom: 0vh;
}

.ourevents-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.ourevents-content {
  display: block;
  flex-direction: column;
}

.ourevents-image img{
  height:25vh;
}

.ourevents-text{
  align-items: center;
  height: auto;
  width: auto;
  text-align: center;
  padding-left:0px;

}

.ourevents-previews {
  flex-direction: row;
  flex-wrap: wrap;
}

.ourevents-previews iframe{
  width: 40%;
}

.show-on-desktop {
  display: none;
}

.ourevents-text h2{
  font-size: 5vw;
}
.ourevents-text p{
  font-size: 3.5vw;
}

.accordion-item .accordion-header .accordion-title{
  font-size: 5vw;
}

.accordion-content .ourevents-content {
  display: block;
  flex-direction: column;
  padding-bottom: 0vh;
  width: 70vw;
  height: 40vh;
  margin-bottom:20px;
  height:auto;
}

.accordion-content .ourevents-content .ourevents-image img{
  text-align: center;
  margin:0px;
  padding: 0px;
}

.accordion-content .ourevents-content .ourevents-text {
  text-align: center;
  padding: 0px;
}

.join_us {
    font-size: 4vw;
  }

  #originalA:hover {
    opacity: 1;
  }

  #originalB:hover {
    opacity: 1;
  }

  #originalC:hover {
    opacity: 1;
  }

  #fullimageA {
    display: none;
  }

  #fullimageB {
    display: none;
  }

  #fullimageC {
    display: none;
  }

  #buttonA {
    display: none;
  }

  #buttonB {
    display: none;
  }

  #buttonC {
    display: none;
  }

  #navmenu {
    display: none;
  }


.footer-content {
  display: block;
  max-width: 75vw;
  flex-direction: column;
  height: auto;
  width: auto;
  text-align: center;
}

.logo {
  width: 100px;
  height: auto;
  justify-content: center;
}


.disclaimer {
  margin-top: 40px;
  color: #C7CCCF;
  font-size: 3.5vw;
  margin-bottom: 60px;
}

.about-us {
  flex: 1.5;
}

.contact-info {
  flex: 0;
  flex-direction: column;
  height: auto;
  width: auto;
  text-align: center;
}

.contact-info ul{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact-info ul li {
  /*display: flex;*/
  margin-bottom: 15px;
  font-size: 4vw;
  height: auto;
  width: auto;
  text-align: center;
  margin-right:0;
}

.about-us h3,
.contact-info h3 {
  font-size: 7vw;
}

}
